body {
    background-color: #f2e7d9;
    font-family: 'Montserrat', sans-serif;
     font-weight: lighter;
}

@font-face {
    font-family: museo-sans;
    src: url("../fonts/museosans-100.otf");
 }

 nav {
     background-color: #f2e7d9 !important; 
 }

 a {
     color: #785440;
     text-decoration: none;
 }

 a:hover {
     text-decoration: none;
     color: #785440;
 }
 
h1, h2, h3, h4, h5, p, ul, li   {
    color: #785440;
    font-weight: 200;
}

/* Buttons CTA */ 

.CTA a {
    display: inline-block;
}

.bicos-button-container {
    width: 250px;

}

.bicos-button-icon img {
    max-height: 30px;
    margin: 0 auto -30px auto;
}

.bicos-button-frame {
    border: 1px solid #785440;

}
.bicos-button {
    padding: 20px;
}

.bicos-button-title h3 {
    font-weight: 500 !important;
}

/* SLICK CARROUSEL */ 

.bicos-carrousel img {
    padding: 10px;
    max-height: 50vh;
}

/* CTA Reserva */

.cta-reserva {
    border: 1px solid #785440;
    padding: 20px;
}




