body {
    background-color: #f2e7d9;
    font-family: 'Montserrat', sans-serif;
     font-weight: lighter;
}

@font-face {
    font-family: museo-sans;
    src: url("../fonts/museosans-100.otf");
 }

